body {
    margin: 0;
}

.toda-a-tela {
    border: 3px solid #D08E00;
    height: 120vh;
    width: 100%;
}

.tela-antes-da-div-central {
    border: 3px solid #18CA00;
    background-color: transparent;

    height: 110vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edicao-perfil-brecho-content {
    border: 3px solid #0C35FF;
    border-radius: 25px;
    border: 1px solid  #fbf0ce;
    box-shadow: 1px 1px 6px 6px rgba(63, 64, 50, 0.105) ;

    height: 89%;
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

 /*---- Parte Esquerda do Pop Up ----*/

.parte-esquerda-div-central {
    border: 3px solid red;

    height: 95%;
    width: 26%;
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.perfil-brecho-logo-content {
    border: 3px solid #00E69D;
    border-radius: 20px;
    background-color: var(--cor_dezesseis);
  
    height: 36%;
    width: 82%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-horario-perfil-brecho {
    border-top: 3px solid var(--cor_nove_v_tres);

    height: 38%;
    width: 94%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}

/*---- Parte DIREITA do Pop Up ----*/

.parte-direita-div-central {
    border: 3px solid red;

    height: 95%;
    width: 69%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-edicao-brecho-content {
    border: 3px solid #026002;

    height: 7%;
    width: 99%;
}

.vendedor-info-content {
    border: 3px solid #026002;

    height: 18%;
    width: 99%;

    display: flex;
    flex-direction: column;
}

.titulo-vendedor-info {
    border: 3px solid #F2D500;

    height: 30%;
    width: 99%;
}

.inputs-info-vendedor-content {
    border: 3px solid #F2D500;

    height: 70%;
    width: 99%;

    display: flex;
    justify-content: space-between;
}

.input-nome-vendedor {
    border: 3px solid #C9057B;

    height: 100%;
    width: 44%;

}

.input-data-nasci-vendedor {
    border: 3px solid #C9057B;

    height: 100%;
    width: 44%;
}

.brecho-info-content {
    border: 3px solid #026002;

    height: 37%;
    width: 99%;
    
    display: flex;
    flex-wrap: wrap;
}

.titulo-brecho-infos {
    border: 3px solid #026002;

    height: 20%;
    width: 100%;
}

.inputs-pequenos-infos-brecho {
    border: 3px solid #F2D500;

    height: 40%;
    width: 50%;
}