.container_chat{

    transition: 0.5s;
    position: fixed;

    width: 24%;

    right: 4%;
    bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

    background-color: var(--cor_quatro);
    z-index: 4;
}

.container_header_chat{

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 15%;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

    background-color: var(--cor_um);
}

.container_header_chat h2{

    margin-top: 5%;
    font-family: var(--tipografia_primaria);
    font-size: 1rem;
    color: var(--cor_quatro);
}

.container_header_chat_pesquisa{

    height: 100%;
    width: 70%;
    padding-left: 5%;
}

.container_inpt_pesquisa_chat{

    display: flex;
    align-items: center;
    margin-top: 2%;
    height: 40%;

    border-radius: 100vw;
    background-color: var(--cor_doze);
}

.container_inpt_pesquisa_chat img{

    margin-left: 5%;
    height: 60%;
}

.container_inpt_pesquisa_chat input{

    height: 100%;

    outline: none;
    border: 0px;
    margin-left: 2%;

    font-family: var(--tipografia_secundaria);
    font-size: 0.9rem;

    background-color: transparent;
}

.botao_de_abrir_e_fechar_chat img{

    width: 60%;
}

.container_header_chat button{

    cursor: pointer;

    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5%;

    border: 0px;
    color: var(--cor_quatro);
    background-color: transparent;
}

.container_conversas_chat{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--cor_um) var(--cor_nove_v_um);
}

.container_corversa_chat{

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    min-height: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;

}

.container_corversa_chat:hover{

    background-color: var(--cor_quatro_v_um);
}

.container_conversa_chat_imagem_de_perfil{

    display: flex;
    align-items: center;
    padding-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 30%;
    height: 100%;
}

.dv_imagem_de_perfil{

    display: flex;
    align-items: center;
}

.container_conversa_chat_imagem_de_perfil img{

    width: 50%;
    border-radius: 100%;
}

.container_conversa_chat_imagem_de_perfil h2{

    margin-bottom: 0%;

    width: 300%;
    
    font-size: 1.1rem;
    font-family: var(--tipografia_primaria);
    font-weight: bold;

    color: var(--cor_seis);
}

.container_ultima_mensagem_chat{

    width: 200%;
    font-size: 0.8rem;
    font-family: var(--tipografia_primaria);
    font-weight: bold;
    color: var(--cor_seis_v_um);
}

.container_conversa_chat_titulo{

    padding-left: 10%;
    padding-right: 10%;
}

.container_conversa_chat_horario{

    display: flex;
    width: 17%;
    height: 100%;
    margin-bottom: 5%;
    align-items: center;
}

.container_conversa_chat_horario p{

    padding-right: 10%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 600;

    color: var(--cor_seis);
}

.fundo_escuro_para_notificacao{

    position: fixed;
    width: 24%;
    height: 70%;
    background-color: #00000041;
}