.container_chat{

    position: fixed;

    height: 60%;
    width: 20%;

    right: 4%;
    bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

    background-color: var(--cor_quatro);
}

.container_header_chat{

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10%;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

    background-color: var(--cor_um);
}

.container_header_chat h2{

    margin-left: 5%;
    font-family: var(--tipografia_primaria);
    font-size: 1.5rem;
    color: var(--cor_quatro);
}

.container_header_chat button{

    cursor: pointer;

    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5%;

    border: 0px;
    color: var(--cor_quatro);
    background-color: transparent;
}

.container_conversas_chat{
    width: 100%;
    height: 100%;

    overflow-y: auto;
}

.container_corversa_chat{

    display: flex;
    align-items: center;
    height: 15%;
    justify-content: space-between;
}

.container_conversa_chat_imagem_de_perfil{

    display: flex;
    padding-left: 5%;
}

.container_conversa_chat_imagem_de_perfil img{

    width: 55%;
}

.container_conversa_chat_imagem_de_perfil h2{

    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 0%;

    font-size: 1.2rem;
    font-family: var(--tipografia_primaria);
    font-weight: bold;

    color: var(--cor_seis);
}

.container_conversa_chat_imagem_de_perfil span{

    font-size: 0.8rem;
    font-family: var(--tipografia_primaria);
    font-weight: bold;

    color: var(--cor_seis_v_um);
}

.container_conversa_chat_titulo{

    padding-left: 10%;
}

.container_conversa_chat_horario{

    display: flex;
    width: 17%;
    align-items: center;
}

.container_conversa_chat_horario p{

    padding-right: 10%;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 600;

    color: var(--cor_seis);
}