.all-page-informacoes-alinhamento{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 2%;
    height: 900px;
    width: 25%;
}

.container-alinhamento-all-pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_conteudo_pesquisa_produtos{

    display: flex;
    width: 100%;
    height: 100%;
}

.container_exibir_produtos{

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    overflow-y: hidden;
    
    margin-top: 1%;
    width: 70%;
}

.container_produto{

    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    width: 20%;
    height: 35%;
    border: 0.1vw solid transparent;
}

.container_produto:hover{

    border: 0.1vw solid var(--cor_seis);
}

.container_produto_img{

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 90%;
    height: 70%;
    
    margin-bottom: 5%;

    border-radius: 1vw;
    background-color: var(--cor_nove_v_dois);
}

.container_produto_img img{

    width: 70%;
    height: 90%;
}

.container_produto_titulo{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container_produto_titulo img{

    width: 15%;
    height: 100%;
    border-radius: 100vw;
}

.container_produto_info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 90%;
    height: 18%;
}

.container_produto_info h2{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.2rem;
    font-family: var(--tipografia_primaria);
    font-weight: 700;

    color: var(--cor_seis);
}

.container_produto_info span{

    font-size: 1.3rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 700;

    color: var(--cor_seis);
}