.cabecalho-tela-contato{
    display: flex;
    padding: 30px 0 0 90px;
    font-family: var(--tipografia_secundaria);
    font-size: 12px;
}

.link-tela-contato{
    text-decoration: none;
    color: var(--cor_um);
}

.container-info-contato{
    border: 1px solid green;
    width: 20%;
    height: 365px;

    margin: 70px 0 0 390px;
    border-radius: 19px;
    box-shadow: 1px 1px 6px 6px rgba(63, 64, 50, 0.105) ;
}

.cabecario-info-contato{
    display: flex;
    align-items: center;
    padding: 15px;
}

.cabecalho-info-contato h3 {
    color: var(--cor_seis_v_um);
}

.circulo-icon-contato{
    width: 50px;         
    height: 50px;         
    background-color: green; 
    border-radius: 50%
}




