#root,
body,
html {

    min-height: 100vh;

    --cor_um: #466330;
    --cor_um_v_um: #466330b5;
    --cor_um_v_dois: #2d411f;
    --cor_um_v_tres: #466330c2;
    --cor_dois: #9DA650;
    --cor_dois_v_um: #8f9749;
    --cor_dois_v_dois: #9da65058;
    --cor_tres: #E7E8CE;
    --cor_quatro: #FFFDF7;
    --cor_quatro_v_um: #e2e0da;
    --cor_cinco: #E4CD80;
    --cor_seis: #3E2A21;
    --cor_seis_v_um: #3e2a219e;
    --cor_sete: #FF3333;
    --cor_sete_v_um: #ff333399;
    --cor_oito: #2f2e304d;
    --cor_oito_v_um: #0000001a;
    --cor_nove: #FFFFFF;
    --cor_nove_v_um: #ffffff96;
    --cor_nove_v_dois: #F0F0F0;
    --cor_dez: #5c5c5c;
    --cor_onze: #9D0000;
    --cor_doze: #F0EEED;
    --cor_treze: #6d0000;
    --cor_quatorze: #ab9489;
    --cor_quinze: #FFF4D1;

    --tipografia_primaria: "Montserrat", serif;
    --tipografia_secundaria: "Poppins", serif;
}

/* home page secao um */
.home-page-secao-um-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-top: 4%;

    /* background: linear-gradient(to right, #FFFDF7 50%, transparent 100%); */
    position: relative;
}

.secao-um-texto-container {
    width: 50%;
    z-index: 2;
}

.secao-um-texto-container h1 {
    font-family: var(--tipografia_primaria);
    font-size: 2.8vw;
    font-weight: 800;
    color: var(--cor_seis);
    margin-bottom: 1.5rem;
    /* border: 1px solid blue; */
}

.secao-um-texto-container p {
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    color: var(--cor_seis);
    opacity: 70%;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
}

.secao-um-texto-container button {
    background-color: var(--cor_dois);
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 30px;
    font-family: var(--tipografia_secundaria);
    font-weight: 410;
    cursor: pointer;
    font-size: 100%;
    width: 28%;

    transition: 0.4s;
}

.secao-um-texto-container button:hover {
    background-color: var(--cor_um);
}

/* Degrade de imagem */
.container-imagem-roupas-numero-um {
    width: 75%;
    height: 66vh;
    background-image: url('./public/img/imagens_telaInicial/ImagemRoupaUm.svg');
    background-size: cover;
}

.container-imagem-roupas-numero-um::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(to right, var(--cor_quatro) 0.2%, transparent 50%),
        linear-gradient(to bottom, var(--cor_quatro) 0.2%, transparent 35%);
    z-index: 1;
    pointer-events: none;
    width: 75%;
    height: 67.3vh;
    top: 9.5%;
    left: 43%;
}

.estrela-verde-home-page {
    position: absolute;
    z-index: 2;
    top: 6%;
    left: 92%;
}

.estrela-amarela-home-page {
    position: absolute;
    z-index: 2;
    top: 84%;
    left: 45%;
}

.line-home-page-secao-um {
    height: 6.5vh;
    background-color: var(--cor_um);
}

/* home page secao um */

/* home page secao dois */
.home-page-secao-dois-container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 98vh;
}

.container-sinalizacao-brechos-home-page {
    display: flex;
    align-items: center;
}

.icon-quadrado-brechos-home-page {
    width: 1%;
    height: 4vh;
    background-color: var(--cor_um);
    border-radius: 0.2vw;
}

.container-sinalizacao-brechos-home-page p {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    padding-left: 0.7%;
    font-weight: 600;
    font-size: 90%;
}

.container-titulo-brechos-home-page {
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
}

.buttons-anterior-proximo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5%;
}

.container-brechos-cards-home-page {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    gap: 3%;
}

.card-brecho-home-page {
    width: 23%;
    height: auto;
    flex: none;
    margin-right: 16px;
}

.container-imagem-brecho-cinza {
    background-color: var(--cor_nove_v_dois);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8vw;
    height: 40vh;
    margin-bottom: 5%;
}

.nome-brecho {
    font-family: var(--tipografia_primaria);
    font-size: 1.3rem;
    color: var(--cor_seis);

}

.button-ver-todos-os-brechos-home-page {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2%;
}

.button-ver-todos-os-brechos-home-page button {
    border: none;
    background-color: var(--cor_um);
    color: var(--cor_doze);
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    border-radius: 2vw;
    width: 12%;
    height: 6.2vh;

    transition: 0.4s;
}

.button-ver-todos-os-brechos-home-page button:hover {
    background-color: var(--cor_dois);
}

.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
/* home page secao dois */

/* home page secao tres */

.home-page-secao-tres-container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 98vh;
}

.container-sinalizacao-destaques-home-page {
    display: flex;
    align-items: center;
}

.icon-quadrado-destaques-home-page {
    width: 1%;
    height: 4vh;
    background-color: var(--cor_um);
    border-radius: 0.2vw;
}

.container-sinalizacao-destaques-home-page p {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    padding-left: 0.7%;
    font-weight: 600;
    font-size: 90%;
}

.home-page-titulo-secao-tres {
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 2.5%;
}

.card-lancamento-secao-tres {
    width: 23%;
}

.alinhamento-img-perfil-nome-usuario-secao-tres {
    align-items: center;
    display: flex;
    padding-bottom: 2%;
}

.alinhamento-img-perfil-nome-usuario-secao-tres img {
    width: 10%;
    opacity: 65%;
    padding: 1%;
}

.nome-brech-card-lancamento {
    padding-left: 2%;
    font-family: var(--tipografia_secundaria);
    font-size: 85%;
    color: var(--cor_seis);
    font-weight: 450;
    opacity: 65%;
    text-decoration: none;
}

.container-card-imagem-roupa-lancamentos {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f97496b;
    border-radius: 1vw;
}

.nome-roupa-lancamentos-card {
    font-family: var(--tipografia_primaria);
    font-size: 1.4rem;
    color: var(--cor_seis);
    font-weight: 660;

    padding-top: 2%;
    padding-bottom: 1%;
}

.preco-roupa-lancamentos-card {
    font-family: var(--tipografia_primaria);
    font-size: 1rem;
    color: var(--cor_seis);
    font-weight: 660;
}

.alinhamento-buttons-secao-tres-lancamentos {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2%;
}

.alinhamento-buttons-secao-tres-lancamentos button {
    border: none;
    background-color: var(--cor_um);
    color: var(--cor_doze);
    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    border-radius: 2vw;
    width: 12%;
    height: 6.2vh;

    transition: 0.4s;
}

.alinhamento-buttons-secao-tres-lancamentos button:hover {
    background-color: var(--cor_dois);
}

/* home page secao tres */

/* home page secao quatro */
.home-page-container-secao-quatro {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 98vh;
}

.container-titulo-secao-quatro {
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 3%;
}

.alinhamento-cards-secao-quatro {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container-um-cards-secao-quatro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-bottom: 2%;
}

.card-um-secao-quatro {
    width: 40%;
    height: 33vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('./public/img/imagens_telaInicial/ImagemRoupaUm.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-um-secao-quatro:hover {
    width: 85%;
    margin-right: 2%;
    cursor: pointer;
}

.card-dois-secao-quatro {
    width: 58%;
    height: 33vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('./public/img/imagens_telaInicial/CardImagemDoisTelaInicial.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-dois-secao-quatro:hover {
    width: 85%;
    margin-left: 2%;
    cursor: pointer;
}

.container-dois-cards-secao-quatro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.card-tres-secao-quatro {
    width: 58%;
    height: 33vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('./public/img/imagens_telaInicial/CardImagemTresTelaInicial.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-tres-secao-quatro:hover {
    width: 85%;
    margin-right: 2%;
    cursor: pointer;
}

.card-quatro-secao-quatro {
    width: 40%;
    height: 33vh;
    border-radius: 1vw;

    background-image:
        linear-gradient(to bottom, var(--cor_quatro) 10%, transparent 45%),
        url('./public/img/imagens_telaInicial/CardImagemQuatroTelaInicial.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 2rem;
    transition: 0.8s;
}

.card-quatro-secao-quatro:hover {
    width: 85%;
    margin-left: 2%;
    cursor: pointer;
}

/* home page secao quatro */

/* home page secao cinco */
.home-page-secao-cinco-container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    height: 68vh;
}

.container-sinalizacao-avalicacoes-home-page {
    display: flex;
    align-items: center;
}

.icon-quadrado-avaliacoes-home-page {
    width: 1%;
    height: 4vh;
    background-color: var(--cor_um);
    border-radius: 0.2vw;
}

.container-sinalizacao-avalicacoes-home-page p {
    font-family: var(--tipografia_primaria);
    color: var(--cor_um);
    padding-left: 0.7%;
    font-weight: 600;
    font-size: 90%;
}

.container-titulo-secao-cinco {
    justify-content: center;
    align-items: center;
    display: flex;

    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 2.5%;
}

.alinhamento-buttons-anterior-proximo {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.8%;
}

.button-anterior-carrossel {
    border: none;
    background-color: var(--cor_nove_v_dois);
    padding: 0.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;

    transition: all 0.3s ease;
}

.button-anterior-carrossel:hover {
    background-color: var(--cor_um);
    content: url('./img/icons/CarrosselAnteriorBranco.svg');
}

.button-proximo-carrossel {
    border: none;
    background-color: var(--cor_nove_v_dois);
    padding: 0.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;

    transition: all 0.3s ease;
}

.button-proximo-carrossel:hover {
    background-color: var(--cor_um);
    content: url('./img/icons/CarrosselProximoBranco.svg');
}

.container-alinhamento-avaliacoes {
    padding-top: 2%;
    display: flex;
    align-items: center;
}

.home-page-card-avaliacoes {
    border: 2px solid color-mix(in srgb, var(--cor_seis) 20%, transparent);
    border-radius: 1vw;
    padding: 1.2%;
    width: 25%;
}

.alinhamento-imagem-perfil-usuario-nome-usuario {
    display: flex;
    align-items: center;
    gap: 3%;
    padding-bottom: 2%;
}

.alinhamento-imagem-perfil-usuario-nome-usuario img {
    width: 10%;
}

.nome-pessoa-avaliacoes {
    font-family: var(--tipografia_primaria);
    color: var(--cor_seis);
    font-weight: 700;
}

.comentario-avaliacao {
    font-family: var(--tipografia_secundaria);
    color: var(--cor_seis);
    font-size: 0.9rem;
}

/* home page secao cinco */