.container_filtro_de_pesquisa{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 88%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1vw;

    background-color: var(--cor_quatro);
}

.container_titulo_filtro_de_pesquisa{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 12%;
}

.container_titulo_filtro_de_pesquisa h1{

    font-size: 1.7rem;
    font-family: var(--tipografia_primaria);
    font-weight: 600;

    color: var(--cor_seis);
}

.container_titulo_filtro_de_pesquisa img{

    width: 11%;
}

.container_pesquisa_por_categoria{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 20%;
}

.container_pesquisa_por_categoria p{

    transition: 0.2s;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    
    color: var(--cor_seis_v_um);
}

.container_pesquisa_filtro_um p:hover{

    font-weight: 600;
    color: var(--cor_seis);
}

.container_pesquisa_filtro_um{

    transition: 0.3s;

    display: flex;
    justify-content: space-between;
}

.container_pesquisa_filtro_um button{

    cursor: pointer;

    width: 4%;
    border: 0px;
    background-color: transparent;
}

.container_pesquisa_filtro_um img{

    transition: 0.3s;
    width: 100%;
}

.container_pesquisa_filtro_dois p:hover{

    font-weight: 600;
    color: var(--cor_seis);
}

.container_pesquisa_filtro_dois{

    transition: 0.3s;

    display: flex;
    justify-content: space-between;
}

.container_pesquisa_filtro_dois button{

    cursor: pointer;

    width: 4%;
    border: 0px;
    background-color: transparent;
}

.container_pesquisa_filtro_dois img{

    transition: 0.3s;
    width: 100%;
}

.container_pesquisa_filtro_tres p:hover{

    font-weight: 600;
    color: var(--cor_seis);
}

.container_pesquisa_filtro_tres{

    transition: 0.3s;

    display: flex;
    justify-content: space-between;
}

.container_pesquisa_filtro_tres button{

    cursor: pointer;

    width: 4%;
    border: 0px;
    background-color: transparent;
}

.container_pesquisa_filtro_tres img{

    transition: 0.3s;
    width: 100%;
}

.container_preco_filtro_de_pesquisa{
    
    width: 80%;

    overflow: hidden;
    transition: 0.3s ease;
}

.container_selecionar_preco_filtro_de_pesquisa{

    opacity: 0;
    transform: translateY(-40%); /* o translateY() faz com que a div fique n% acima da sua posição final*/
    transition: 0.3s;
    width: 100%;
    animation: animacao_de_entrada 0.3s ease forwards; 
}

@keyframes animacao_de_entrada {

    to{

        opacity: 1;
        transform: translateY(0);
    }
}

.container_selecionar_preco_filtro_de_pesquisa input{

    width: 100%;
    accent-color: var(--cor_um);
}

.container_preco_titulo_filtro_de_pesquisa{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10%;
}

.container_preco_titulo_filtro_de_pesquisa h1{

    font-size: 1.7rem;
    font-family: var(--tipografia_primaria);
    font-weight: 600;

    color: var(--cor_seis);
}

.container_preco_titulo_filtro_de_pesquisa button{

    cursor: pointer;
    
    width: 8%;
    height: 50%;
    
    border: 0px;
    background-color: transparent;
}

.container_preco_titulo_filtro_de_pesquisa img{
    
    transition: 0.3s;
    width: 70%;
}

.container_exibir_preco_filtro_de_pesquisa{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.container_exibir_preco_filtro_de_pesquisa p{

    font-size: 1rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 500;

    color: var(--cor_seis);
}

.container_tamanho_titulo_filtro_de_pesquisa{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 12%;
}

.container_tamanho_titulo_filtro_de_pesquisa h1{

    font-size: 1.7rem;
    font-family: var(--tipografia_primaria);
    font-weight: 600;

    color: var(--cor_seis);
}

.container_tamanho_titulo_filtro_de_pesquisa button{

    cursor: pointer;
    
    width: 8%;
    height: 50%;
    
    border: 0px;
    background-color: transparent;
}

.container_tamanho_titulo_filtro_de_pesquisa img{
    
    transition: 0.3s;
    width: 70%;
}

.container_tamanho_filtro_de_pesquisa{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

    overflow: hidden;
    transition: 0.3s ease;
}

.container_selecionar_tamanho_filtro_de_pesquisa{

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;

    opacity: 0;
    transform: translateY(-40%); /* o translateY() faz com que a div fique n% acima da sua posição final*/
    transition: 0.3s;
    animation: animacao_de_selecionar_tamanho 0.3s ease forwards;
}

@keyframes animacao_de_selecionar_tamanho {

    to{

        opacity: 1;
        transform: translateY(0);
    }
}

.container_tamanho_filtro_de_pesquisa button{

    cursor: pointer;
    transition: 0.3s;

    width: 3vw;
    height: 3.5vh;
    border: 0px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1vw;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    font-weight: 500;

    color: var(--cor_seis);
    background-color: var(--cor_quatro);
}

.container_titulo_estilos{

    display: flex;
    align-items: end;
    width: 80%;
    height: 10%;
}

.container_titulo_estilos h1{

    font-size: 1.7rem;
    font-family: var(--tipografia_primaria);
    font-weight: 600;

    color: var(--cor_seis);
}

.container_pesquisa_por_estilos{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 20%;
}

.container_pesquisa_por_estilos p{

    transition: 0.2s;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;
    
    color: var(--cor_seis_v_um);
}

.container_pesquisa_por_estilo_um p:hover{

    font-weight: 600;
    color: var(--cor_seis);
}

.container_pesquisa_por_estilo_um{

    transition: 0.3s;

    display: flex;
    justify-content: space-between;
}

.container_pesquisa_por_estilo_um button{

    cursor: pointer;

    width: 4%;
    border: 0px;
    background-color: transparent;
}

.container_pesquisa_por_estilo_um img{

    transition: 0.3s;
    width: 100%;
}

.container_pesquisa_por_estilo_dois p:hover{

    font-weight: 600;
    color: var(--cor_seis);
}

.container_pesquisa_por_estilo_dois{

    transition: 0.3s;

    display: flex;
    justify-content: space-between;
}

.container_pesquisa_por_estilo_dois img{

    width: 4%;
}

.container_pesquisa_por_estilo_tres p:hover{

    font-weight: 600;
    color: var(--cor_seis);
}

.container_pesquisa_por_estilo_tres{

    transition: 0.3s;

    display: flex;
    justify-content: space-between;
}

.container_pesquisa_por_estilo_tres img{

    width: 4%;
}