:root{

    --cor_um: #466330;
    --cor_um_v_um: #466330b5;
    --cor_um_v_dois: #2d411f;
    --cor_dois: #9DA650;
    --cor_tres: #E7E8CE;
    --cor_quatro: #FFFDF7;
    --cor_cinco: #E4CD80;
    --cor_seis: #3E2A21;
    --cor_seis_v_um: #3e2a219e;
    --cor_sete: #FF3333;
    --cor_sete_v_um: #ff333399;
    --cor_oito: #FCF7E9;

    --tipografia_primaria: "Montserrat", serif;
    --tipografia_secundaria: "Poppins", serif;
}

.alinhamento-navbar-usuario{
    border: 1px solid red;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-usuario{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
}

.link-texto-navbar-usuario{
    border: 1px solid red;
    color: var(--cor_seis);
    font-family: var(--tipografia_primaria);
    text-decoration: none;
    font-weight: 450;
    font-size: 100%;
}

.button-pesquisa-navbar{
    border: 1px solid red;
    width: 28vw;
    background-color: var(--cor_oito);
    border-radius: 1vw;

}
