.tela-inteira-cliente {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tela-inteira-cliente img {
    width: 9%;
    height: 11%;
}

.menu-cliente {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    width: 200px;
    max-width: 90%;
    z-index: 1000;
}

.menu-cliente img {
    width: 8%;
    align-self: center;
    color: var(--cor_um_v_um);
}

.popUp-inicio,
.popUp-sacola,
.popUp-sairConta {
    margin: 10px 0;
}

.popUp-sairConta {
    margin-top: auto;
}
