body {
    margin: 0;
}

.tela-inteira-content {
    border: 3px solid #18CA00;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divs-centrais-content {
    border: 3px solid #FF0000;

    height: 86%;
    width: 43%;
}