.bibliografia-fly{
    margin-top: 6%;
    margin-left: 15%;
    color: var(--cor_seis);
}

.bibliografia-fly p{
   width: 32%;
   margin-top: 2%;
}

.bibliografia-fly h2{
    font-size: 34px;
}

.apresentando-equipe{

}