.sideBar-edicao-perfil-cliente{
    display: flex;
    margin-left: 20%;
    margin-top: 5%;
}

.sideBar-edicao-perfil-cliente h4{
    color: var(--cor_um_v_um);
    font-weight: 200;
}

.sideBar-edicao-perfil-cliente img{
    position: absolute;
    left: 78%;
    width: 36px;
    color: var(--cor_um_v_um);
}

.foto-edicao-perfil-cliente{
    width: 20%;
    margin-left: 9%;
    margin-top: 15%;

}

.container-edicao-perfil-cliente{
    font-family: "Poppins", sans serif;
    margin-left: 20%;
    margin-bottom: 77px;
    width: 60%;
    height: 676px;
    border-radius: 13px;
    border: 1px solid  #fbf0ce;
    box-shadow: 1px 1px 6px 6px rgba(63, 64, 50, 0.105) ;
}

.container-edicao-perfil-cliente label{
    display: block;
    margin-bottom: 3%;
    color: var(--cor_dez);
    font-weight: 800;
}

.info-edicao-cliente{
    position: relative;
    bottom: 67%;
    left: 22%;
    width: 70%;
}

.cabecario-edicao-cliente{
    margin-left: 28%;
    margin-top: 4%;
    color: var(--cor_um);
    font-size: 24px;
}

.info01{
    display: flex;
    margin-left: 22%;
    margin-top: 5%;
    justify-content: space-around;

}

.edicao-nome-cliente, .edicao-telefone-cliente, .edicao-rua-cliente{
    display: flex;
    flex-direction: column;

}

.edicao-nome-cliente input{
    height: 2.2vw;
    padding-left: 1%;
    outline: none;
    border: none;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    background-color: #fcf7e900;
    border: 1px solid var(--cor_dois);

}

.edicao-telefone-cliente input{  
    height: 2.2vw;
    padding-left: 1%;
    outline: none;
    border: none;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    background-color: #fcf7e900;
    border: 1px solid var(--cor_um_v_um);

}

.info02{
    display: flex;
    margin-left: 22%;
    margin-top: 5%;
    justify-content: space-around;
}

.edicao-email-cliente{
    display: flex;
    flex-direction: column;

}

.edicao-email-cliente input{
    height: 2.2vw;
    padding-left: 1%;
    outline: none;
    border: none;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    color: var(--cor_seis);
    background-color: #fcf7e900;
    border: 1px solid var(--cor_um_v_um);
}

.edicao-rua-cliente button{
    height: 2.2vw;
    padding-left: 1%;
    width: 200px;
    outline: none;
    border: none;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    color: var(--cor_seis);
    background-color: #fcf7e900;
    border: 1px solid var(--cor_um_v_um);
}

.edicao-mudanca-senha{
    display: flex;
    flex-direction: column ;
    margin-left: 29%;
    margin-top: 5%;
}

.edicao-mudanca-senha input{
    display: block;
    margin-bottom: 3%;
    height: 2.2vw;
    width: 512px;
    padding-left: 1%;
    outline: none;
    border: none;

    font-family: var(--tipografia_secundaria);
    font-size: 1rem;

    background-color: #fcf7e900;
    border: 1px solid var(--cor_um_v_um);
}

.edicao-mudanca-senha button{
    border: none;
    border-radius: 19px;
    width: 43%;
    height: 40px;
    margin-top: 5%;

}

.botoes-edicao-cliente{
    display: flex;
    margin-left: 34%;
    
}

.but-cancelar-edicao-cliente{
    background-color: #fbf0ce00;
    font-size: 15px;
}
.but-salvar-edicao-cliente{
    background-color: var(--cor_um);
    color: var(--cor_quatro);
    font-size: 15px;
}
